@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;
}

.nav {
    position: absolute;
    top: 0;
    padding: 0 16px;
    height: 50px;
    width: 100%;
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    gap: 25px;
    margin-right: 12px;
}

.google {
    background-color: #282828;
    border-radius: 52px;
    color: white;
    min-width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    font-family: "Roboto", sans-serif;
    transition: 0.4s;
}

.google:hover {
    background-color: #4b4b4b;
}

.google .box1 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 9px;
}

.google .box1 .com {
    align-items: center;

}

.google .box1 svg {
    align-items: center;

}

.lastnav {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 12px;
}

.line {
    border: 1px solid rgba(255, 255, 255, 0.185);
    height: 18px;
    display: flex;
    align-items: center;
}