.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: [f-c] 90px [s-c] 100px;
    grid-template-rows: [f-r] 100px [s-r] 100px [t-r] 100px;

}

.item {
    border: 2px solid red;
    height: 55px;
    width: 55px;
}

.item-5 {
    grid-row: f-r/s-r;
    grid-column: f-c/s-c;
}

.item-1 {
    grid-row: f-r/s-r;
    grid-column: f-c/s-c;
    /* OR */
    /* grid-row-start: 1; */
    /* grid-row-end: 2; */
}

/* Practice */
body {
    background-color: rgb(74, 65, 53);
}

.container {
    border: 2px solid red;
    width: 80vw;
    height: 80vh;
    display: grid;
    /* grid-template-columns: 1fr 2fr 3fr; */
    /* OR */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-columns: repeat(5, minmax(40px, 1fr)); */
    grid-template-columns: repeat(5, 40px);
    gap: 2px 05px;
    /* JUSTIFY ITEM AND ALIGN ITEM APPLY INSIDE THE CELL */
    justify-items: center;
    align-items: center;
    /* JUSTFY CONTENT AND ALIGN CONTENT APPLY ON CONTAINER */
    justify-content: center;
    align-content: center;
    /* PLACE-CONTENT WORK BOTH JUSTIFY AND ALIGN  */
    place-content: center;
}

.item {
    border: 2px solid black;
    width: 23px;
    height: 23px;

}

.item-1 {
    justify-self: flex-start;
    align-self: self-start;
}