        .box:nth-child(1) {
            background-color: aquamarine;
        }

        .box::first-line {
            color: rgb(255, 0, 0);
        }

        .boxes * {
            border: 2px solid black;
        }

        p,
        a,
        .box,
        [data-color=primary] {
            background-color: rebeccapurple;
            padding-top: 23px;
            margin-top: 23px;
        }

        .box:nth-child(even) {
            background-color: burlywood;
        }

        .box:nth-last-child(4) {
            background-color: aqua;
        }

        /* WE CAN ADD CONTENT IN CSS USING DYNAMICALLY SELECTORS. */
        /* BUT WE CANN'T SELECT THEM. */