 .red {
    color: rgb(107, 26, 26);
 }

 /* #firstdiv{
    background-color: rgb(94, 94, 159); 
 } */

 .bg-yellow {
    background-color: yellow
 }

 span {
    background-color: rgb(151, 135, 135);
 }