.container {
    /* IN NOTES */
    border: 2px solid red;
    height: 80vh;
    width: 80vw;
    display: flex;
    /* horizontally (left ↔ right). */
    /* justify-content: center;
            /* there is no justify-items in flexbox; */
    /* vertically (top ↕ bottom). */
    /* align-items: center;  */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* If you do not use flex-wrap, then align-content will NOT work. */
    /* align-content: flex-start; */
    /* flex-flow: row wrap; */
    /* gap: 44px; */
    /* row-gap: 23px;
            column-gap: 77px; */
    /* gap: 23px 66px; */
}

.item {
    /* flex-grow: 1; */
    border: 2px solid black;
    background-color: blueviolet;
    height: 19px;
    width: 19px;
    margin: 2px;
}

/* by default order-0 */
/* .order-1{
            order: 1;
        }
        .order-2{
            order: 2;
        }
        .order-3{
            order: 3;
        } */
.item1 {
    /* by default flex-grow 1*/
    flex-grow: 3;
    flex-shrink: 4;
    align-self: flex-end;
}

.item2 {
    /* by default flex-shrink is 1 */
    flex-shrink: 0;
    align-self: flex-start;
}

.item3 {
    flex-shrink: 1;
    align-self: center;
}